1. Created a venv & document the requirements<br>
2. Created cal counter function<br>
3. Updated to handle combos<br>
4. Updated to handle errors<br>
5. Modified to detect even if typed in lower case

In [1]:
import backEnd.utils as utils

# uses the first set of food items and combos
results = utils.calories_counter('Cheesy Combo')

# uncomment below line to test the exception
# results = utils.calories_counter('Hamburger','Lemonade','Cheesy Combo','Cheesy Combo') 
print(f"The total calory count is {results}")

The total calory count is 1070

# loop through method
6. Use more complex data<br>
7. Can order by meal or combo
8. Can order by id or name

TODO: Can't Catch the error

In [2]:
results = utils.comp_cal_counter('combo-1')
print(f"The total calory count is {results}")

The total calory count is 1070

# dictionary method

9. Can order by meal or combo
10. Can order by id or name

In [3]:
results = utils.comp_cal_counter2('combo-1')
print(f"The total calory count is {results}")

The total calory count is 1070

# Price counter

In [4]:
results = utils.price_counter('meal-1','meal-2','meal-3')

print(f"The total price is {results}")

The total price is 18

# Using json files

In [5]:
import backEnd.jsonUtils as ju

results = ju.comp_cal_counter_json('meal-3', 'combo-2')
print(f"The total calory count is {results}")

The total calory count is 1100

In [6]:
results = ju.price_counter_json('meal-1','meal-2','meal-3')

print(f"The total price is {results}")

The total price is 18

In [7]:
results = ju.price_counter_json('meal-1','meal-2','meal-3')

print(f"The total price is {results}")

The total price is 18

In [8]:
import json
from backEnd.classes import Order

with open('data/orders_history.json', 'r') as f:
    data = json.load(f)["orders"]

orderObj = []
for order in data:
    orderObj.append(Order(** order))

In [9]:
len(orderObj)
test = orderObj[0]
print("Order ID: ", test.order_id)
print("Order Date: ", test.date)
print("Order Items: ", test.items)
print("Order Calories: ", test.calories)
print("Order Price: ", test.price)

Order ID:  order-1
Order Date:  2022-01-01 00:00:00
Order Items:  ['meal-2', 'meal-6', 'meal-5']
Order Calories:  995
Order Price:  14

In [10]:
import pandas as pd

df = pd.DataFrame([order.__dict__ for order in orderObj])
df = df.set_index('order_id')
df['date'] = pd.to_datetime(df['date'])
df.head()

,items,_calories,_price,order_accepted,order_refused_reason,date
order_id,,,,,,
order-1,"[meal-2, meal-6, meal-5]",995,14,True,None,2022-01-01
order-2,"[meal-5, combo-3, combo-3]",1140,20,True,None,2022-01-01
order-3,"[meal-3, combo-2, combo-1]",0,0,False,"Meal has 2170 calories, which is too much!",2022-01-01
order-4,"[combo-1, combo-3]",1525,21,True,None,2022-01-01
order-5,"[meal-2, combo-2]",1450,10,True,None,2022-01-01